.container {
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: calc(100% /2);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-three-fourth {
  flex-basis: calc(3/4 * 100%);
}

.column-one-fifth {
  flex-basis: calc(100% / 5);
}

.column-40p {
  flex-basis: calc(40/100 * 100%);
}

.column-60p {
  flex-basis: calc(60/100 * 100%);
}
