.container {
  max-width: 2000px;
  width: 100vw;
  height: 100vh;
}

.bg-color-blue {
  background-color: #a4e9f7;
}

.display-flex {
  display: flex;
}

.margin-zero {
  margin: 0;
}

.margin-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.border-radius-all {
  border-radius: 0.5rem;
}

.background-image {
  background-image: url("/images/sunnyday.bmp");
  object-fit: fill;
  width: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.margin-home {
  margin: 0.75rem;
  width: 1.5rem;
}

.overlay {
  position: absolute;
  background-color: rgba(248, 248, 248, 0.35);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.overlay-trash {
  position: fixed;
  background-color: rgba(248, 248, 248, 0.35);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-weather {
  position: fixed;
  background-color: rgba(248, 248, 248, 0.35);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-time {
  position: fixed;
  background-color: rgba(248, 248, 248, 0.35);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-none {
  border: none;
}

.house-font-size {
  font-size: 1.5rem;
}

.darkblue-font-color {
  color: #18a2b8;
}

.border-solid-darkblue {
  border: solid #18a2b8;
}

.fa-house:hover {
  color: black;
  cursor: pointer;
}

.search-button:hover {
  background-color: black;
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}

.search-height {
  height: 2rem;
}

.search-card {
  width: 350px;
  height: 625px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 0.5rem;
  margin-top: 4rem;
}

.align-items-center {
  align-items: center;
  justify-content: center;
}

.navbar-height {
  height: 3rem;
}

.search-img {
  object-fit: contain;
  width: 82.5%;
  height: auto;
}

.img-frame {
  width: 100%;
  height: auto;
}

.villager-search-for-text-margin {
  padding-left: 2rem;
}

.thought-image {
  width: 22.5%;
}

.resident-icon {
  width: 15%;
}

.text-red {
  color: rgb(251, 106, 106);
}

.text-red-bg {
  background-color: rgb(251, 106, 106);
}

.column-half {
  flex-basis: 50%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-left {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2rem;
}

.heart-like {
  margin-right: 0.5rem;
}

.heart-like:hover {
  color: rgb(251, 106, 106);
}

.text-align-right {
  text-align: right;
}

.villager-search-for-text-padding-right {
  padding-right: 2rem;
}

.header {
  max-width: 450px;
  display: flex;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center-only {
  align-items: center;
}

.justify-content-right {
  justify-content: right;
}

.hidden {
  display: none;
}

.fade-out {
  transition: opacity 3s ease-in-out;
}

.transparent {
  font-size: 0;
}

* {
  font-family: sans-serif;
}

.margin-16px {
  margin-top: 16px;
  margin-bottom: 16px;
}

.village-card-mobile {
  width: 350px;
  height: 625px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 0.5rem;
  margin-top: 4rem;
}

.residents-padding-left {
  padding-left: 4.3rem;
}

.residents-icon-padding-left {
  padding-left: 4rem;
}

.residents-main-image {
  width: 60%;
  object-fit: contain;
  height: auto;
}

.residents-right-arrow {
  padding-right: 4.55rem;
}

.residents-left-arrow {
  padding-left: 4.55rem;
}

.align-items-right {
  align-items: right;
}

.arrows-margin-top {
  margin-top: 0.2rem;
}

.village-card-desktop {
  width: 1400px;
  height: 625px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 0.5rem;
  margin-top: 4rem;
}

.resident-main-desktop {
  width: 75%;
  object-fit: contain;
  height: auto;
}

.resident-icon-desktop {
  width: 20%;
}

.residents-padding-left-desktop {
  padding-left: 2.1rem;
}

.residents-icon-padding-left-desktop {
  padding-left: 1.9rem;
}

.residents-main-image-slide {
  width: 210px;
  object-fit: contain;
  height: 210px;
}

.modal-villager-card {
  width: 350px;
  height: 625px;
  background-color: rgba(255, 255, 255, 0.75);
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 7rem;
}

.resident-icon-mobile-slide {
  width: 42.9px;
  height: 42.9px;
}

.window {
  width: 210px;
  height: 515px;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  transition: 2s;
}

.first-slide {
  margin-left: 0;
}

.second-slide {
  margin-left: -210px;
}

.third-slide {
  margin-left: -420px;
}

.fourth-slide {
  margin-left: -630px;
}

.fifth-slide {
  margin-left: -840px;
}

.visibility-hidden {
  visibility: hidden;
}

.fa-x:hover {
  color: rgb(251, 106, 106);
}

.fa-trash:hover {
  color: rgb(251, 106, 106);
}

.trash-modal {
  width: 250px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.99);
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 0;
}

.long-button {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.long-button:active {
  transform: translateY(0.1rem);
}

.remove-villager {
  background-color: rgb(251, 106, 106);
  border-radius: 0.25rem;
  border: solid rgb(251, 106, 106);
}

.cancel-remove-villager {
  background-color: #87c9a1;
  border-radius: 0.25rem;
  border: solid #87c9a1;
}

.weather-close {
  background-color: #87c9a1;
  border-radius: 0.25rem;
  border: solid #87c9a1;
}

.weather-save {
  background-color: #87c9a1;
  border-radius: 0.25rem;
  border: solid #87c9a1;
}

.modal-confirm-padding {
  padding: 1rem;
}

@media screen and (min-width: 1280px) {
  .village-card-mobile {
    width: 1200px;
  }

  .window {
    width: 1050px;
  }

  .mobile-slider-left,
  .mobile-slider-right {
    display: none;
  }

  .slider {
    margin-left: 0;
    transition: 1s;
  }

  .residents-padding-left {
    padding-left: 4.55rem;
  }
}
