button,
i.button,
img.button,
p.clickable {
  cursor: pointer;
}

p,
h2,
input,
.search-bar,
.search-button,
.long-button {
  letter-spacing: 0.1rem;
}

.container {
  max-width: 2000px;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.bg-color-black {
  background-color: rgba(0, 0, 0, 0.89);
}

.bg-color-blue {
  background-color: #a4e9f7;
}

.display-flex {
  display: flex;
}

.margin-zero {
  margin: 0;
}

input {
  padding-left: 0.5rem;
}

.margin-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.border-radius-all {
  border-radius: 0.5rem;
}

.border-radius-cards {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.background {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-image-sunny {
  background-image: url("../images/sunny.webp");
}

.background-image-night {
  background-image: url("../images/night.webp");
}

.background-image-rain {
  background-image: url("../images/rain.webp");
}

.background-image-snow {
  background-image: url("../images/snow.webp");
}

.background-image-day {
  background-image: url("../images/day.webp");
}

.margin-home {
  margin: 0.75rem;
  width: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.overlay-white {
  background-color: rgba(248, 248, 248, 0.35);
}

.overlay-nightmode {
  background-color: rgba(65, 65, 65, 0.55);
}

.overlay-trash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-weather {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-time {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-none {
  border: none;
}

.house-font-size {
  font-size: 1.5rem;
}

.heart-font-size {
  font-size: 1.5rem;
}

.darkblue-font-color {
  color: #18a2b8;
}

.border-solid-darkblue {
  border: solid #18a2b8;
}

.display-inline-block {
  display: inline-block;
}

.search-height {
  height: 2rem;
}

.search-card {
  width: 350px;
  height: 625px;
  margin-top: 4rem;
}

.bg-color-white-cards {
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-color-white-cards-modals {
  background-color: rgba(255, 255, 255, 0.9);
}

.align-items-center {
  align-items: center;
  justify-content: center;
}

.navbar-height {
  height: 3rem;
}

.search-img {
  object-fit: contain;
  width: 82.5%;
  height: auto;
}

.margin-tb-1rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.img-frame {
  width: 100%;
  height: auto;
}

.villager-search-for-text-margin {
  padding-left: 2rem;
}

.icon-search {
  width: 30%;
}

.thought-image {
  width: 24%;
}

.text-red {
  color: rgb(251, 106, 106);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-left {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2rem;
}

.heart-like {
  margin-right: 0.5rem;
}

.heart-like:hover {
  color: rgb(251, 106, 106);
}

.text-align-right {
  text-align: right;
}

.villager-search-for-text-padding-right {
  padding-right: 2rem;
}

.header {
  max-width: 450px;
  display: flex;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.footer-buttons-bar {
  width: 350px;

  /*  margin: 0.75rem; */
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center-only {
  align-items: center;
}

.justify-content-right {
  justify-content: right;
}

.hidden {
  display: none;
}

.transparent {
  font-size: 0;
}

.margin-16px {
  margin-top: 16px;
  margin-bottom: 16px;
}

.village-card-mobile {
  width: 350px;
  height: 625px;
  margin-top: 4rem;
}

.residents-padding-left {
  padding-left: 4.3rem;
}

.residents-main-image {
  width: 60%;
  object-fit: contain;
  height: auto;
}

.arrows-margin-top {
  margin-top: 0.2rem;
}

.resident-main-desktop {
  width: 75%;
  object-fit: contain;
  height: auto;
}

.residents-main-image-slide {
  width: 210px;
  object-fit: contain;
  height: 210px;
}

.modal-villager-card {
  width: 350px;
  height: 625px;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.resident-icon-mobile-slide {
  width: 42.9px;
  height: 42.9px;
}

.window {
  width: 210px;
  height: 515px;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  transition: 2s;
}

.first-slide {
  margin-left: 0;
}

.second-slide {
  margin-left: -210px;
}

.third-slide {
  margin-left: -420px;
}

.fourth-slide {
  margin-left: -630px;
}

.fifth-slide {
  margin-left: -840px;
}

.visibility-hidden {
  visibility: hidden;
}

.fa-x:hover,
.fa-trash:hover {
  color: rgb(251, 106, 106);
}

.width-15px {
  width: 15px;
}

.trash-modal {
  width: 250px;
  height: 170px;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 0;
}

.long-button {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.justify-content-left {
  justify-content: left;
}

.dots-padding {
  padding: 0 0.1rem;
}

.long-button:active,
.time-weather-buttons:active,
.footer-buttons:active,
.house-font-size:active {
  transform: translateY(0.1rem);
}

i.button:hover,
img.button:hover,
button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.remove-villager {
  background-color: rgb(251, 106, 106);
  border-radius: 0.25rem;
  border: solid rgb(251, 106, 106);
}

.cancel-remove-villager {
  background-color: #87c9a1;
  border-radius: 0.25rem;
  border: solid #87c9a1;
}

.weather-close {
  background-color: #87c9a1;
  border-radius: 0.25rem;
  border: solid #87c9a1;
}

.margin-weather-buttons-below {
  margin: 0 0 1rem;
}

.modal-confirm-padding {
  padding: 1rem;
}

.only-home:hover {
  color: #028093;
}

.nightmode-bg-black {
  background-color: rgba(0, 0, 0, 0.75);
}

.nightmode-bg-black-modals {
  background-color: rgba(0, 0, 0, 0.85);
}

.nightmode-text-white {
  color: white;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.loading-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.99);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  justify-content: center;
  align-items: center;
}

.footer-buttons:hover,
.arrow-buttons:hover {
  color: #a3e9f7;
}

.fa-sun:hover {
  color: rgb(241, 248, 108);
}

.fa-cloud-showers-heavy:hover,
.fa-moon:hover {
  color: rgb(40, 77, 210);
}

.fa-snowflake:hover {
  color: #80fdf9;
}

.color-gray {
  color: gray;
}

::placeholder {
  color: grey;
}

.margin-top-individual-text {
  margin-top: 0.5rem;
}

.fa-house:hover,
.search-button:hover {
  color: #006979;
  cursor: pointer;
}

@font-face {
  font-family: finkheavyregular;
  src:
    url("../fonts/fink-heavy-regular-webfont.woff2") format("woff2"),
    url("../fonts/fink-heavy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: finkheavyregular, sans-serif;
}

@media screen and (min-width: 1280px) {
  .village-card-mobile {
    width: 1200px;
  }

  .window {
    width: 1050px;
  }

  .arrows-margin-top {
    display: none;
  }

  .slider {
    margin-left: 0;
    transition: 1s;
  }

  .residents-padding-left {
    padding-left: 4.55rem;
  }

  .footer-buttons-bar {
    width: 400px;
    background-color: #a3e9f7;
    color: #18a2b8;
  }

  .footer-row {
    position: absolute;
    top: 0;
    right: 0;
  }

  .footer-buttons:hover {
    color: #006979;
  }

  .border-radius-cards {
    border-radius: 0.5rem;
  }
}
